.footer {
    text-align: center;
    position: fixed;;
    background-color: #343330;
    margin: 0;
    flex-shrink: 0;
    bottom: 0;
    width: 100%;
    color: #ffa737;
    padding: 1rem;
    font-size: small;
    font-family: 'Amatic SC';
    font-size: large;
}